<ion-view title="Signup" id="page5" class=" " ng-controller="UserCreateController as user">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list ">
            <ion-list id="signup-list5" class=" ">
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="user.userData.name">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="user.userData.username">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="user.userData.password">
                </label>
            </ion-list>
            <a ui-sref="menu.meineEinkaufsliste" id="signup-button6" class=" button button-positive  button-block " ng-click="user.signupUser()">Account erstellen</a>
        </form>
    </ion-content>
</ion-view>